@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Herr Von Muellerhoff", cursive;
  --body-font: "Pacifico", cursive;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

body {
  line-height: 1.5;
  /* background: #f4f4f4; */

  overflow: hidden;
  background-color: #333;
  color: #f4f4f4;
  /* padding: 30px; */
  font-family: "Helvetica Neue", "Verdana", sans-serif;
}

html {
  height: 100%;
}

#screen {
  /* border: red 3px; */
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  z-index: 1;
  /* background-color: #3b3b3b; */
  /* display: none; */
}

#sidebar {
  position: relative;
  z-index: 1;
}

.nav-menu {
  /* position: absolute; */
  /* border: red solid 3px; */

  /* display: flex;
  flex-direction: column; */
  /* margin-left: 200px; */
  height: 100vh;
  width: 100vw;
  /* border: yellow 2px solid; */

  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #f4f4f4;
  cursor: pointer;
  z-index: 4;
  /* background-color: red; */
}

.nav-list {
  position: relative;
  justify-self: center;
  align-self: center;
  text-align: right;
  list-style: none;

  /* border: yellow solid 3px; */
  font-family: var(--body-font);
  display: block;
  cursor: pointer;
  z-index: 1;
  font-size: 30px;
  /* z-index: 0; */
  color: #f4f4f4;
  background: none;
}

#item-1 {
  position: absolute;
  top: 10vh;
  left: 5vw;
}
#item-2 {
  position: absolute;
  top: 10vh;
  right: 5vw;
}
#item-3 {
  position: absolute;
  top: 90vh;
  right: 5vw;
  transform: translate(-50%, -50%);
}
#item-4 {
  position: absolute;
  top: 90vh;
  left: 5vw;
  transform: translate(0%, -50%);
}

/* .nav-text {
  z-index: 1;
} */

/* .click-box {
  position: absolute;
  border: red 2px solid;
  z-index: 3;
} */

.title {
  position: absolute;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--body-font);
  font-size: 90px;
  font-weight: normal;
  z-index: 10;
  color: #fff;
  /* border: salmon 2px solid; */
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: red 3px solid;
  /* display: none; */
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

#content {
  float: left;
  position: relative;
  left: 50%;
}

#wrap {
  float: left;
  display: inline;
  margin: auto;
  margin-left: -50%;
}

#main {
  text-align: center;
  padding: 24px;
}

.blob {
  border-radius: 8px;
  float: left;
  display: inline;
  margin: 10px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#fps {
  text-align: center;
  margin: 10px;
  width: 150px;
  cursor: pointer;
}

.option {
  text-align: center;
  cursor: pointer;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.3);
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.option[data-active="1"] {
  background-color: rgba(255, 255, 255, 0.3);
}

.option[data-active="1"]:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.option > input[type="checkbox"] {
  display: none;
}

#sidebar {
  width: 200px;
}

a.blob {
  width: 150px;
  background-color: rgba(52, 93, 115, 0.8);
  color: rgb(30, 34, 62);
  text-align: center;
}

a.blob:hover {
  background-color: rgba(54, 141, 148, 0.8);
}
