@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/*Global styles*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Source Sans Pro", sans-serif;
  --secondary-font: "Quicksand", sans-serif;
  --body-font: "Pacifico", cursive;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

body {
  line-height: 1.5;
  /* background: #f4f4f4; */

  overflow: hidden;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    329deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(28, 28, 28, 1) 50%,
    rgba(54, 54, 54, 1) 100%
  );
  color: #f4f4f4;

  /* padding: 30px; */
  font-family: "Helvetica Neue", "Verdana", sans-serif;
}

html {
  height: 100%;
}

#screen {
  /* border: red 3px; */
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  z-index: 1;
  /* background-color: #3b3b3b; */
  /* display: none; */
}

nav {
  font-family: var(--body-font);
  display: block;
  /* padding: 10px; */
  /* border: aqua 1px solid; */
  justify-items: center;
  align-items: center;
  font-size: 30px;
  z-index: 2;
}

.nav-text {
  color: #f4f4f4;
  padding: 10px;
  cursor: pointer;
  z-index: 4;
  scale: 1;
  transition: all 0.5s ease-in;
}

.nav-text:hover {
  color: #fec85f;
}

nav#nav-1 {
  position: absolute;
  top: 10vh;
  left: 5vw;
  transition: all 0.3s ease-in;
}

nav#nav-1:hover {
  transform: translate(-3%, -5%) rotate(-2deg);
}

nav#nav-2 {
  position: absolute;
  top: 10vh;
  right: 5vw;
  transition: all 0.3s ease-in;
}
nav#nav-2:hover {
  transform: translate(3%, -5%) rotate(2deg);
}
nav#nav-3 {
  position: absolute;
  bottom: 10vh;
  right: 5vw;
  transition: all 0.3s ease-in;
}
nav#nav-3:hover {
  transform: translate(3%, 5%) rotate(2deg);
}
nav#nav-4 {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  transition: all 0.3s ease-in;
}
nav#nav-4:hover {
  transform: translate(-3%, 5%) rotate(-2deg);
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  z-index: 0;
}

.click-box {
  display: none;
  position: absolute;
  border: red 2px solid;
  z-index: 3;
}

.main {
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: var(--body-font);
  font-weight: normal;
}

.title {
  font-size: 90px;
  z-index: 10;
  background: none;
}

.concealed-1 {
  top: 30%;
  font-size: 20px;
}
.concealed-2 {
  top: 70%;
  font-size: 20px;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: red 3px solid;
  /* display: none; */
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.option[data-active="1"] {
  background-color: rgba(255, 255, 255, 0.3);
}

.option[data-active="1"]:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.option > input[type="checkbox"] {
  display: none;
}

/* --- PAGE TRANSITION ANIMATION --- */
.first-svg {
  opacity: 0;
}
.second-svg {
  opacity: 0;
}
.third-svg {
  opacity: 0;
}

#transition-SVG {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
